html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 60%;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}